/* Style pour le menu hamburger */
.menu-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    cursor: pointer;
    z-index: 2; /* Assurez-vous que le menu hamburger est au-dessus du menu */
}

.menu-icon span {
    display: block;
    height: 2px;
    width: 20px;
    margin-bottom: 4px;
    background-color: black;
}

/* Style pour le menu */
.menu {
position: fixed;
top: -1px;
right: -1px;
background-color: #f9f9f9;
border: 1px solid #ddd;
border-radius: 5px;
padding: 10px;
display: none;
z-index: 1;
width: 13VH;
height: 96VH;
}

.menu.open {
    display: block;
}

.menu ul {
    list-style-type: none;
    margin: 2VH;
    padding: 0;
    text-align: right;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: black;
}

/* Style pour le contenu principal */
.content {
    text-align: center;
    margin-top: 50px;
}

/* Style pour masquer le menu */
.hidden {
    display: none;
}

.logo-image {
    width: 40px; /* Définissez la largeur souhaitée */
    height: auto; /* La hauteur sera ajustée automatiquement pour maintenir les proportions */
}

.logo-container{
  font-family: 'Lemon/Milk', sans-serif;
  font-family: 'Lemon/Milk light', sans-serif;
  display:flex;
  align-items:center;
}


.container {
  text-align: center;
}

.qr-code {
  background-color: white;
  padding: 10px;
  margin: 20px;
}

.filter-line,
.data-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.filter-line img,
.data-line img {
  margin-right: 10px;
}

span {
  margin-right: 10px;
}
