/* register.css */
.container-register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.logo-register {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

h1.register-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Lemon/Milk', sans-serif;
}

.login-form-register label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.login-form-register input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.login-form-register button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.login-form-register label[for="username"],
.login-form-register label[for="password1"],
.login-form-register label[for="password2"],
.login-form-register label[for="email"] {
  font-family: 'Poppins';
  color: #0BBBD3;
  font-weight: bold;
  border-radius: 5px;
}

.login-form-register input,
.login-form-register button {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}
